@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Teko:wght@300..700&display=swap');

* {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

main {
  height: 100svh;
  background-image: url('../media/backgroundimage1.jpg');
  background-size: cover;
}

.initial-screen {
  height: 100%;
  width: 100%;
  background-image: url('../media/backgroundimage3.jpg');
  background-size: cover;
  position: absolute;
}

.finish-screen {
  height: 100%;
  width: 100%;
  background-image: url('../media/backgroundimage2.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.hidden {
  visibility: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.top-nav {
  position: relative;
}

.on-top {
  position: absolute;
  z-index: 10;
}

.leaderboard {
  top: 50px;
  cursor: pointer;
}

.scoreboard {
  top: 130px;
}

.box {
  display: block;
}

.screen {
  margin-top: 20px;
  height: 200px;
  width: 200px;
  background-color: #BBDEFB;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #1976D2 2px solid;
}

h1 {
  color: #FF5252;
  text-align: center;
  font-size: 72px;
}

h4, p {
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  padding-left: 8px;
  color: white;
}

input[type="button"] {
  height: 200px;
  width: 200px;
  background-color: #FF5252;
  border-radius: 50%;
  box-shadow: inset 5px -5px 10px #ba3c3c, inset -5px 5px 10px #ff6868;
  font-size: 42px;
  color: #FFF;
  position: absolute;
  z-index: 7;
}

.word-screen {
  margin-top: 20px;
  width: 200px;
  border: #1976D2 3px solid;
  height: 60px;
  background-color: #FF5252;
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}


input[type="text"] {
  width: 200px;
  background-color: #BBDEFB;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  height: 60px;
  border-radius: 5px;
  padding-left: 10px;
  border: #1976D2 3px solid;
}

dialog {
  background-color: #BBDEFB;
  position: fixed;
  height: 500px;
  width: 300px;
  top: calc(50% - 250px);
  left: calc(50% - 150px);
}